* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-container,
#oauth {
    display: none;
}

#container {
    border-radius: .375rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background: center / cover no-repeat;
    opacity: 90%;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

#song-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    color: rgb(200, 200, 200);
    font-size: 0.8rem;
}

#song-info {
    font-size: 0.8rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.song-name-container,
.artist-name-container {
  overflow: hidden;
  white-space: nowrap;
}

#like-button, #menu-button {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5%;
}

#info-and-like {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#artist-name {
    color: rgb(200, 200, 200);
}

#song-name {
    color: white;
}

#album-art {
    width: 100%;
    height: 100%;
    position: absolute;
    background: center / cover no-repeat;
    z-index: -1;
    opacity: 70%;
}

#song-slider {
    width: 100%;
    background-color: #ccc;
    color: white;
    position: relative;
}

.song-controls {
    border: none;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#play-button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
}

#play-button-icon {
    filter: brightness(0);
    width: 40%;
    height: auto;
}

#volume-button {
    position: absolute;
    left: 0;
}

.control-icon {
    width: 100%;
    height: auto;
}

#controls-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
}

#song-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    max-width: 200px;
    padding: 0.5rem 0;
}

#volume-controls {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5rem;
    max-width: 200px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 0.2rem;
    outline: none;
    background-color: #ccc;
    border-radius: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
    border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.6rem;
    width: 0.6rem;
    background-color: #fff;
    border-radius: 50%;
    visibility: hidden;
}

input[type="range"]:hover::-webkit-slider-thumb {
    visibility: visible;
}

input[type="range"]::-moz-range-thumb {
    height: 0.7rem;
    width: 0.7rem;
    background-color: #fff;
    border-radius: 50%;
    visibility: hidden;
}

input[type="range"]:hover::-moz-range-thumb {
    visibility: visible;
}

#volume-slider {
    border-radius: 1rem;
    width: 80%;
  }

  #menu-options {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 20vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 80%;
    border-radius: 0.25rem;
    overflow: hidden;
  }
  
  #menu-button:hover #menu-options,
  #menu-options:hover {
    display: block;
  }
  
  #refresh-button,
  #logout-button {
    display: block;
    width: 100%;
    padding: 8px;
    color: white;
    background-color: #121212;
    border: none;
    text-align: left;
  }

  #refresh-button:hover, #logout-button:hover {
    background-color: #343434;
  }
